// Taken from LL-FrontEnd
.articlePreview {
  position: relative;
  max-width: 350px;
  margin: 0 auto 30px auto;
  font-size: 10pt;

  @media (max-width: $screen-sm-max ) {
    font-size: 8pt;
  }
  h2 {
    font-size: 1.7em;
    margin: 5px 0;
  }
  h3 {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 5px 0;
  }
  .preview_poster {
    height: 200px;
    background-size: cover;
    background-color: $gray-light;

    @media (max-width: $screen-sm-max ) {
      height: 120px;
    }
  }
  .preview_bodyPreview {
    color: $gray;
  }
  .preview_date {
    color: $gray-light;
    font-size: 9pt;
    margin-top: 5px;
  }
  .preview_details {
    margin-top: -40px;
    padding: 0 0 0 10px;
    position: relative;

    > .inner {
      padding: 2px 7px;
      background: #fff;
    }
  }
  .btn {
    margin-top: 3px;
  }
}

.relatedArticles {
  padding-top: 300px;
  @media (max-width: $screen-xs-max) {
    padding-top: 20px;
  }

  .articlePreview {
    .preview_poster {
      height: 150px;
    }
    .preview_details {
      margin-top: -80px;
    }
    .preview_bodyPreview {
      display: none;
    }
  }
}

article.article {
  header {
    @include clearfix;
    margin-bottom: 30px;

    .article_title {
      font-size: 40pt;
      @media (max-width: $screen-md-max) { font-size: 30pt; }
      @media (max-width: $screen-sm-max) {}
      @media (max-width: $screen-xs-max) { font-size: 20pt; }
    }
  }
  .article_body {
    background: white; 
    padding: 40px; 
    position: relative;

    @media (max-width: $screen-sm-max) {
      padding: 20px;
    }
  }
  .add-this {
    min-height: 50px;
    margin-top: 5px;
  }
}
