$theme-font-path: "/fonts/";
$icon-font-path: "/fonts/";

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
@import "web-common/scss/include.scss";
// endbower

@import "articles";


a {
	outline: none;
}

// Wraps floating elements within an article, etc. Allows it
// to be freely sized, even when centered.
figure {
	&.align {
		// On mobile, we don't alter the style
		@media (min-width: $screen-sm-min) {
			&-left > div {
				float: left;
				margin-right: 20px;
			}
			&-right > div {
				float: right;
				margin-left: 20px;
			}
			&-center {
				display: block;
				padding: 30px 0;

				> div,
				> blockquote {
					float: none;
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		padding: 20px 0;
	}
}