$theme-font-path: "/bower_components/web-common/fonts/";

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
@import "web-common/scss/include.scss";
// endbower

@import "articles";


article {
	h1, h2, h3 {
		margin-top: 20px;
	}
}

// Move the product box over some of the above content
.img-productBoxOverlay {
	margin-top: -60px;
}


.fa-ul {
	.fa-li.fa-check {
		color: $brand-success;
	}
}

.page-pagesProducts {
	.nav-offset {
		height: 0;
	}
}



//
// EFFICACY CHARTS
// 
.efficacyFigure {
	display: block;
  margin-bottom: 30px;
	text-align: center;

	.fa {
		padding: 0.1em 0.03em;

		@media (max-width: $screen-sm-max) {
			font-size: 12pt;
		}

		&.fine 		{ opacity: 0.5; }
		&.warning { color: $brand-warning !important; }
		&.danger 	{ color: $brand-danger !important; }
	}
}

// Adapt based on where it's placed and the number of characters per row
.col-sm-4 .efficacyFigure-5 .fa {
	font-size: 60pt;
	@media (max-width: $screen-sm-max) {
		font-size: 40pt;
	}
	@media (max-width: $screen-xs-max) {
		font-size: 70pt;
	}
}
.col-sm-4 .efficacyFigure-10 .fa {
	font-size: 28pt;

	@media (max-width: $screen-sm-max) {
		font-size: 20pt;
	}
	@media (max-width: $screen-xs-max) {
		font-size: 40pt;
	}
}
.col-sm-6 .efficacyFigure-5 .fa {
	font-size: 80pt;
	@media (max-width: $screen-sm-max) {
		font-size: 60pt;
	}
	@media (max-width: $screen-xs-max) {
		font-size: 70pt;
	}
}



// 
// FIXED HEIGHT SPLASH, as used for articles
// 
.leadImage-img {
	z-index: -1;
  background-size: cover;
  background-position: 50%;
}

@media (min-width:$screen-sm-min) {
	.leadImage-img {
	  position: absolute;
	  height: 700px;
	  top: 0;
	  left: 0;
	  width: 100%;

	  @media (max-width: $screen-xs-max) {
	    height: 300px;
	  }
	}
	.leadImage-header {
		height: 600px;
		position: relative;

		> .inner {
			position: absolute;
			bottom: 0px;
		}
	}
}
@media (max-width:$screen-xs-max) {
	.leadImage-img {
		position: relative;
		height: 200px;
		margin-bottom: -20px;
	}
}


//
// FULL-HEIGHT SPLASH, as used for product pages
// 
.fullHeightSplash {
	position: relative;

	@media (max-width: $screen-xs-max) {
		.layer {
			height: 300px;
			margin-bottom: 20px;
		}
	}
	@media (min-width: $screen-sm-min) {
		height: 100%;
		min-height: 500px;
	}

	.splash_blurb {
		@include clearfix;
		padding: 0 20px 60px 20px;

		h1 { font-size: 24pt; }
		h3 { font-size: 17pt; }

		@media (max-width: $screen-sm-max) {
			h3 { font-size: 20pt; }
			h3 { font-size: 16pt; }
		}

		@media (min-width: $screen-sm-min) {
			position: absolute;
			bottom: 0px;
			right: 0px;
			max-width: 400px;
		}
		@media (min-width: $screen-md-min) {
			max-width: 550px;
		}
	}

	.splash_links {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px;
		text-align: center;
		background: rgba(#fff, 0.8);

		a {
			font-size: 12pt;
			padding: 0 5px;
			@media (max-width: $screen-sm-max) {
				font-size: 9pt;
				padding: 0 3px;
			}
		}
	}
}


// Full screen overlay
.fullscreen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.white-overlay {
	background: linear-gradient(to right, rgba(255,255,255,0.8) 10%, rgba(255,255,255,0.7) 20%, rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%);
}


.white {
	background: white;
	line-height: 1em;
	outline: 5px solid white;
}

.jumbotron {
	video {
		position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    // z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-color: #555;
    background-size: cover; 
	}
}

.testsSummary {
	text-align: center;

	.test {
		display: inline-block;
		max-width: 200px;
		.icon {
			font-size: 100px;
			display: block;
		}
		label {
			font-size: 110%;
			margin: 5px 0;
		}
		p {
			color: $gray-light;
			font-size: 80%;
			line-height: 1.1em;
		}
	}
}


// A page with a fixed left menu
// 
.pageWithLeftMenu {
	.page_body {
	}
	.page_menu {
		padding: 0 20px;
	}
}

@mixin pageWithLeftMenu($width, $padding) {
	.pageWithLeftMenu {
		.page_body {
			padding-left: $width;
		}
		.page_menu {
			width: $width;
			padding: 0 $padding;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.pageWithLeftMenu {
		position: relative;
		.page_body {
			// padding-left: ...;
		}
		.page_menu {
			position: absolute;
			left: 0; 
			top: 0;
			height: 100%;
			overflow-y: scroll;
			// padding: ...;
			// width: ...;
		}
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	@include pageWithLeftMenu(260px, 20px);
}
@media (min-width: $screen-md-min) {
	@include pageWithLeftMenu(400px, 50px);
}


//
// PAGE SECTIONS, as used on product and info pages
// 
.pageSection {
	.section_heading {
		padding: 15px 20px;
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;
		background-color: #fafafa;
		// box-shadow: 0 0 4px rgba(#000, 0.2);
		
		h3 {
			font-size: 24pt;
			font-weight: 300;	
			margin: 0;
			.glyphicon { font-size: 50%; }
			@media (max-width: $screen-sm-max) {
				font-size: 16pt;
			}
		}
	}
	.section_body {

	}
}



//
// PRODUCT
//
.panel-product {
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	
	.panel-decoration {
		font-family: $brand-font-primary;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.2em 0.4em;
		font-size: 16pt;
	}
	.panel-body {
		max-width: 600px;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.panel-options {
		margin-top: 50px;
		border-top: 1px solid $gray-lighter;
		padding-top: 20px;
	}
}


//
// FIELDS
//
.iconField {
	@include clearfix;

	@media (max-width: $screen-xs-max) {
		// Icon to the left of the text
		display: table-row;
		margin-bottom: 20px;

		> * {
	    display: table-cell;
	  }

		.icon_icon i {
			display: inline-block;
	    vertical-align: top;
			font-size: 70px;
			margin: 0 20px 0 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		.icon_icon {
  		display: block; // force icon above text
  		font-size: 120px;
  	}
  }
}


//
// Dot
//
.dot {
	$size: 16px;
	width: $size;
	height: $size;
	display: inline-block;
	border-radius: 50%;

	&-lg {
		$size: 24px;
		width: $size;
		height: $size;
	}
	
	&-primary { background-color: $brand-primary; }
	&-success { background-color: $brand-success; }
	&-info { background-color: $brand-info; }
	&-warning { background-color: $brand-warning; }
	&-danger { background-color: $brand-danger; }
}