$theme-font-path: "/bower_components/web-common/fonts/";

// bower:scss
@import "web-common/scss/include.scss";
// endbower

@import "articles";


// PENDING TWEAKS - to be absorbed into common

.text-sm {
	blockquote {
		font-size: 11pt;
		line-height: 1.2em;
	}
}

.mode-productList-hide {
	.productList {
		display: none;
	}
}

.mode-decoration-hide {
	.decoration {
		display: none;
	}
}



article {
	h1, h2, h3 {
		margin-top: 20px;
	}
}


[lazy-img] {
	transition: opacity 1s;
	opacity: 0;

	&.lazy_loaded {
		opacity: 1;
	}
}


[async-body] {
	opacity: 1;
	transition: opacity 0.3s;

	&.async_hide {
		opacity: 0;
	}
}


// Move the product box over some of the above content
.img-productBoxOverlay {
	margin-top: -60px;
}



//
// Place images and other content in relation to key element.
// 
.decorate {
	position: relative;
	overflow: visible;
}
.decoration-bottom-right {
	$size: 300px;
	position: absolute;
	height: $size;
	width: $size;
	bottom: -$size/2;
	right: -$size*0.2;
}




//
// Allow for images in quotes, to cater for testimonials.
// 
.quote {
	&-withImage {
		$size: 90px;
		padding-left: $size+15px;
		position: relative;

		img {
			max-width: $size;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}


.fa-ul {
	.fa-li.fa-check {
		color: $brand-success;
	}
}


// 
// PAGE SPECIFIC STYLING
// 

// Remove nav offset
.page-pagesProducts,
.page-homepage,
.page-article {
	> .nav-offset {
		display: none;
	}
}

// Toggle some content on and off depending on the page they're used on
.page-scriptletters {
	.page-scriptletters-hidden {
		display: none;
	}
}

.page-tests {
	.panel-product + .decoration {
		display: none;
	}
}





.hr {
	margin: 20px 0;
	border-top: 1px solid rgba(#000,0.1);
}



//
// Filtered elements, e.g. medications
// 
.filtered {
	&-miss,
	&-hide-default.filtered-default {
		display: none;
	}
}




// 
// Embedded content, e.g. Vimeo/YouTube clips
// 
.embed {
	&-video {
	  position: relative;
	  padding-bottom: 54%;
	  padding-top: 25px;
	  height: 0;
	  margin-bottom: 10px;

	  iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	  }
	}
}




// 
// Toggle the way product panels display themselves.
// 
.mode-panel-noBgImage {
	.panel-bgImage {
		display: none;
	}
}
.mode-panel-noLeadImage {
	.panel-leadImage {
		display: none;
	}
}
.panel-bgImage {
	@media (max-width: $screen-xs-max) {
		display: none;
	}
}



//
// EFFICACY CHARTS, i.e. human icons used to show the upper and lower
// range of a medication's efficacy
// 
.efficacyFigure {
	display: block;
  margin-bottom: 30px;
	text-align: center;

	.fa {
		padding: 0.1em 0.03em;

		@media (max-width: $screen-sm-max) {
			font-size: 12pt;
		}

		&.fine 		{ opacity: 0.5; }
		&.warning { color: $brand-warning !important; }
		&.danger 	{ color: $brand-danger !important; }
	}
}

// Adapt based on where it's placed and the number of characters per row
.col-sm-4 .efficacyFigure-5 .fa {
	font-size: 60pt;
	@media (max-width: $screen-sm-max) {
		font-size: 40pt;
	}
	@media (max-width: $screen-xs-max) {
		font-size: 70pt;
	}
}
.col-sm-4 .efficacyFigure-10 .fa {
	font-size: 28pt;

	@media (max-width: $screen-sm-max) {
		font-size: 20pt;
	}
	@media (max-width: $screen-xs-max) {
		font-size: 40pt;
	}
}
.col-sm-6 .efficacyFigure-5 .fa {
	font-size: 80pt;
	@media (max-width: $screen-sm-max) {
		font-size: 60pt;
	}
	@media (max-width: $screen-xs-max) {
		font-size: 70pt;
	}
}



// 
// FIXED HEIGHT SPLASH, as used for articles. The header is not placed
// within the lead image. 
// 
.leadImage-img {
	z-index: -1;
  background-size: cover;
  background-position: 50%;
}

@media (min-width:$screen-sm-min) {
	.leadImage-img {
	  position: absolute;
	  height: 600px;
	  top: 0;
	  left: 0;
	  width: 100%;

	  @media (max-width: $screen-xs-max) {
	    height: 300px;
	  }
	}
	.leadImage-header {
		height: 600px;
		position: relative;

		> .inner {
			position: absolute;
			bottom: 0px;
		}
	}
}
@media (max-width:$screen-xs-max) {
	.leadImage-img {
		position: relative;
		height: 200px;
		margin-bottom: -20px;
	}
}


//
// FULL-HEIGHT SPLASH, as used for product pages
// 
.fullHeightSplash {
	position: relative;

	@media (max-width: $screen-xs-max) {
		.layer {
			height: 300px;
			margin-bottom: 20px;
		}
	}
	@media (min-width: $screen-sm-min) {
		height: 100%;
		min-height: 700px;
	}

	.splash_blurb {
		@include clearfix;
		padding: 0 20px 60px 20px;

		h1 { font-size: 24pt; }
		h3 { font-size: 17pt; }

		@media (max-width: $screen-sm-max) {
			h3 { font-size: 20pt; }
			h3 { font-size: 16pt; }
		}

		@media (min-width: $screen-sm-min) {
			position: absolute;
			bottom: 0px;
			right: 0px;
			max-width: 400px;
		}
		@media (min-width: $screen-md-min) {
			max-width: 550px;
		}
	}

	.splash_links {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px;
		text-align: center;
		background: rgba(#fff, 0.8);

		a {
			font-size: 12pt;
			padding: 0 5px;
			@media (max-width: $screen-sm-max) {
				font-size: 9pt;
				padding: 0 3px;
			}
		}
	}
}


// Full screen overlay
.fullscreen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.white-overlay {
	background: linear-gradient(to right, rgba(255,255,255,0.8) 10%, rgba(255,255,255,0.7) 20%, rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%);
}

.blackGradient {
	background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 99%);
}


.white {
	background: white;
	line-height: 1em;
	outline: 5px solid white;
}



// Used by the homepage...
// 
.videoSplash {
	position: relative;

	video {
		background-color: #fff;
    background-size: cover;
	}

	.fa-chevron-down {
		$size: 50px;
		position: absolute; 
		bottom: 20px; 
		left: 50%; 
		width: $size*2; 
		margin-left: -$size; 
		text-align: center; 
		display: block; 
		font-size: $size; 
		color: rgba(255,255,255,0.4);
	}

	// @media (min-width: $screen-md-min) {
	height: 100%;
	min-height: 600px;
	overflow: hidden;
	// color: white;

	h1 	{ font-size: 50pt; }
	p 	{ font-size: 20pt; }
	
	// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	// 	h1 	{ font-size: 40pt; }
	// 	p 	{ font-size: 18pt; }
	// }

	@media (max-width: $screen-xs-max) {
		h1 	{ font-size: 34pt; }
		p 	{ font-size: 16pt; }
	}


	.splash_body {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	video {
		position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
	}
	// }

	// @media (max-width: $screen-sm-max) {
	// 	background: $gray-lighter;
	// 	.blackGradient {
	// 		display: none;
	// 	}
	// 	video {
	// 		position: absolute;
	//     width: 100%;
	// 	}
	// 	.nav-offset {
	// 		display: none;
	// 	}
	// 	h1 {
	// 		font-size: 30pt;
	// 	}
	// 	.btn {
	// 		display: none;
	// 	}
	// 	.splash_body {
	// 		// margin-top: -20px;
	// 		margin-bottom: 50px;
	// 	}
	// }
}


//
// LIST OTHER ENTRIES NEXT TO MAIN CONTENT, used by the articles page
// 
.articleWithList {
	.articleWithList_menu {
		padding: 0 20px;
	}
}

@mixin articleWithList($width, $padding) {
	.articleWithList {
		.articleWithList_body {
			padding-right: $width;
		}
		.articleWithList_menu {
			width: $width;
			padding: 0 $padding;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.articleWithList {
		position: relative;
		.articleWithList_body {
			// padding-left: ...;
		}
		.articleWithList_menu {
			position: absolute;
			right: 0; 
			top: 0;
			height: 100%;
			overflow-y: scroll;
			// padding: ...;
			// width: ...;
		}
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	@include articleWithList(260px, 20px);
}
@media (min-width: $screen-md-min) {
	@include articleWithList(400px, 50px);
}


//
// PAGE SECTIONS, used to collapse several content blocks. Currently used on 
// product pages.
// 
.pageSection {
	.section_heading {
		padding: 15px 20px;
		border-top: 1px solid rgba(0,0,0,0.1);
		border-bottom: 1px solid $gray;
		background-color: #fafafa;
		// box-shadow: 0 0 4px rgba(#000, 0.2);
		
		h3 {
			font-size: 24pt;
			font-weight: 300;	
			margin: 0;
			.glyphicon { font-size: 50%; }
			@media (max-width: $screen-sm-max) {
				font-size: 16pt;
			}
		}
	}
	.section_body {

	}
}



//
// PRODUCT
//
.panel-product {
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	
	.panel-decoration {
		font-family: $brand-font-primary;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.2em 0.4em;
		font-size: 16pt;
	}
	.panel-body {
		max-width: 500px;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.panel-options {
		margin-top: 50px;
		border-top: 1px solid rgba(0,0,0,0.1);
		padding-top: 20px;
	}
}


//
// FIELDS
//
.iconField {
	@include clearfix;

	@media (max-width: $screen-xs-max) {
		// Icon to the left of the text
		display: table-row;
		margin-bottom: 20px;

		> * {
	    display: table-cell;
	  }

		.icon_icon i {
			display: inline-block;
	    vertical-align: top;
			font-size: 70px;
			margin: 0 20px 0 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		.icon_icon {
  		display: block; // force icon above text
  		font-size: 120px;
  	}
  }
}


//
// Dot
//
.dot {
	$size: 16px;
	width: $size;
	height: $size;
	display: inline-block;
	border-radius: 50%;

	&-lg {
		$size: 24px;
		width: $size;
		height: $size;
	}
	
	&-primary { background-color: $brand-primary; }
	&-success { background-color: $brand-success; }
	&-info { background-color: $brand-info; }
	&-warning { background-color: $brand-warning; }
	&-danger { background-color: $brand-danger; }
}