<section class="fullHeightSplash layered">
  <div class="layer layer-full" lazy-load
      style="background-image:url('https://placeimg.com/1200/800/any')"></div>

  <div class="splash_blurb">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, autem impedit! Totam possimus voluptatem nam facilis omnis aliquid dolor obcaecati.</p>
    <p>
      <a href="" class="btn btn-info pull-right">Buy now!</a>
    </p>
  </div><!-- .splash_frame -->

  <div class="splash_links">
    <a button-action="openChat">Ask us a question &gt;</a>
    <a href="/counselling">Meet our medical team &gt;</a>
    <a href="/process">Learn about the process &gt;</a>
  </div><!-- .splash_links -->
</section>
