<section class="fullHeightSplash layered">
  <div class="layer layer-full" lazy-load
      style="background-image:url('https://placeimg.com/1200/800/any')"></div>

  <div class="splash_blurb">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, autem impedit! Totam possimus voluptatem nam facilis omnis aliquid dolor obcaecati.</p>
    <p>
      <a href="" class="btn btn-info pull-right">Buy now!</a>
    </p>
  </div><!-- .splash_frame -->

  <div class="splash_links">
    <a button-action="openChat">Ask us a question &gt;</a>
    <a href="/counselling">Meet our medical team &gt;</a>
    <a href="/process">Learn about the process &gt;</a>
  </div><!-- .splash_links -->
</section>


<section class="padding-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">

        <div class="panel panel-primary panel-product panel-lg layered">
          <div class="layer layer-right" 
              style="background-image:url('http://s3-ap-southeast-2.amazonaws.com/lifeletters-cms/box-sl-bg-square-tight-right.png')"></div>

          <div class="panel-heading-alt">
            <h3 class="panel-title">Lorem ipsum dolor sit amet</h3>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates mollitia ipsam necessitatibus repellat recusandae sint alias dolore omnis, quia neque!</p>
            <br>
            <p>
              <a href="" class="btn btn-primary">Order now</a>
              <a href="" class="btn btn-outline">Chat now</a>
            </p>
          </div>
        </div>

      </div><!-- .col-sm-6 -->
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</section><!-- .padding-md -->


<!-- 
<div class="product">

  <div class="product_box layered">

    <div class="layer layer-right"
        ng-style="{
          'background-image': util.formatBackgroundUrl(
            entry.backgroundImage[0].variations._custom.url || 
            entry.backgroundImage[0].url)
        }"></div>
    
    <header>
      <h3 class="product_title">
        
      </h3>
    </header>

    <div class="product_content">
      <div class="product_row" compile=""></div>

      <div class="row product_row">
        <div class="col-xs-6" ng-show="medications.length">
          <h4>Medications covered</h4>
          <ul class="featureList">
            <li ng-repeat="medication in medications">
              {{ medication.title }}
            </li>
          </ul>
        </div>
        <div class="col-xs-6" ng-show="entry.genes.length">
          <h4>Genes tested</h4>
          <ul class="featureList">
            <li ng-repeat="gene in entry.genes">
              {{ gene.title }}
            </li>
          </ul>
        </div>
      </div>

      <div class="clearfix">
        <br>
        <a class="btn btn-purchase btn-lg _purchaseBtn" ng-href="cart/{{ entry.productCode }}">
          Order now {{ product.price | noFractionCurrency }}
        </a>
        &nbsp;
        <a href="{{ entry.page[0].uri }}" class="btn btn-lg btn-outline productLink">
          More information &gt;
        </a>
        <a class="btn btn-lg btn-outline productLinkAlt" button-action="openChat">
          Chat to us &gt;
        </a>
      </div>
    </div>

  </div>
</div>

 -->