<section class="fullHeightSplash layered">
  <div class="layer layer-full" lazy-load
      style="background-image:url('https://placeimg.com/1200/800/any')"></div>

  <div class="splash_blurb">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, autem impedit! Totam possimus voluptatem nam facilis omnis aliquid dolor obcaecati.</p>
    <p>
      <a href="" class="btn btn-info pull-right">Buy now!</a>
    </p>
  </div><!-- .splash_frame -->

  <div class="splash_links">
    <a button-action="openChat">Ask us a question &gt;</a>
    <a href="/counselling">Meet our medical team &gt;</a>
    <a href="/process">Learn about the process &gt;</a>
  </div><!-- .splash_links -->
</section>


<section class="padding-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">

        <div class="panel panel-primary panel-product panel-lg layered">
          <div class="layer layer-right" 
              style="background-image:url('http://s3-ap-southeast-2.amazonaws.com/lifeletters-cms/box-sl-bg-square-tight-right.png')"></div>

          <div class="panel-heading-alt">
            <h3 class="panel-title">Lorem ipsum dolor sit amet</h3>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates mollitia ipsam necessitatibus repellat recusandae sint alias dolore omnis, quia neque!</p>
            <br>
            <p>
              <a href="" class="btn btn-primary">Order now 
              <span fetch-product="LL201401" ng-show="product">- {{ product.price | currency:'$' }}</span>
              </a>
              <a href="" class="btn btn-outline">Chat now</a>
            </p>
          </div>
        </div>

        <h3>Another product</h3>
        <p>Test multiple use of the fetch product directive:</p>
        <a href="" class="btn btn-info">
          <span fetch-product="LL201402" ng-show="product">- {{ product.price | currency:'$' }}</span>
        </a>

      </div><!-- .col-sm-6 -->
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</section><!-- .padding-md -->